nav {
	position: fixed;
	width: 100%;
}
nav ul {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

nav li {
	height: 50px;
}

nav li:first-child {
	margin-right: auto;
}

nav a {
	display: flex;
	align-items: center;
}

nav a img {
	width: 40px;
	margin-top: 5px;
	margin-bottom: 20px;
}

nav a:hover {
	/*transform: scale(1.2);
  transition: 1s;*/
}

.logo {
	font-size: 24px;
	margin-top: 10px;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: black;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.sidebar li {
	width: 100%;
}
.sidebar a {
	width: 100%;
	border: 0;
}

.landingTitle {
	display: flex;
	justify-content: start;
	font-size: 112px;
	margin-bottom: 54px;
	margin-left: 50px;
}

.filterbutton {
	font-family: "Integral", sans-serif;
	color: black;
	text-decoration: none;
	border: 3px solid;
	border-radius: 40px;
	padding: 10px 25px;
	border-color: black;
}

.filterbutton:hover {
	background-color: black;
	color: white;
}

.pagenumber {
	font-family: "Integral", sans-serif;
	font-size: 18px;
	color: black;
	text-decoration: none;
	border: 3px solid;
	border-radius: 40px;
	padding: 7px 15px;
	border-color: black;
}

.number2 {
	font-size: 18px;
	padding-top: 5px;
}



.pages {
	display: flex;
	justify-content: space-evenly;
	align-content: flex-end;
}

.menu-button {
	display: none;
}

.ourtalents-text h2 {
	font-size: 40px;
}

.photos h2 {
	font-size: 40px;
}


.input-pair label {
	color: black;
	font-family: "roboto", sans-serif;
	font-weight: normal;
	margin: 18%;
}

#Gender {
	border-radius: 45px;
	width: 80%;
	margin-right: 90px;
}
#Weight{
	border-radius: 45px;
	width: 80%;
}

#Height {
	border-radius: 45px;
	width: 80%;
	margin-left: 30px;
}


#birthday {
	width: 85%;
	margin-right: 30px;
}

.textaboutyourself {
	margin: 50px;
}

.input-pair p {
  color: black;
  font-family: "Roboto", sans-serif;
}

.uploadimage input {
	color: black;
}

.buttonjobs2 {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 18px 25px;
  border-radius: 54px; 
  cursor: pointer;
  font-family: "Integral", sans-serif;
  font-size: 22px;
}

.submitrequest {
	display: flex;
	justify-content: center;
}

.photocontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 7em;
	margin: 8%;
	
}

.casting-text {
	padding: 40px;
	color: black;
	font-weight: 100px;
	width: 60%;
}

.sort {
	margin-top: 30px;
	width: 40%;
}

@media (max-width: 800px) {
	.hideMobile {
		display: none;
	}
	.menu-button {
		display: block;
	}

	.ourtalentscontainer {
		flex-direction: column;
		align-items: center;
	}

	.ourtalentscontainer img {
		width: 68%;
	}

	.filterbutton {
		margin: 13px;
		font-size: 1px;
	}

	.landingTitle {
		margin-right: 10px;
		justify-content: end;
		font-size: 58px;
	}

	#landingPageCasting {
		background-size: cover;
		background-position: center center;
	}

	.ourtalents-text p {
		width: 90%;
	}

	.ourtalents-text h2 {
		font-size: 35px;
	}

	.filtercontainer {
		justify-content: space-around;
	}

.submitrequest {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -20%;
}

	.filtercontainer h3 {
		font-size: 14px;
	}

	.filterbutton {
		font-size: 10px;
	}

	.pages h3,
	.pagenumber,
	.number2 {
		font-size: 10px;
		padding: 2px 6px;
		margin: 4px;
	}

	.input-pair input {
		margin: 3% 18%;
		width: 75%;
		border-radius: 29px;
	}

	.formcontainer {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		gap: 4em;
	}

	.fillinform {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1.8em;
	}

#casting p {
	width: 80%;
}


.input-pair label {
font-size: 13px;
}

.sort {
	padding-top: 50px;
	font-family: "Roboto", sans-serif;

}

.filtercontainer {
	width: 130%;
}
#Gender {
	border-radius: 45px;
	width: 80%;
	margin-right: 90px;
}
#Weight{
	border-radius: 45px;
	width: 96%;
}

#Height {
	border-radius: 45px;
	width: 80%;
	margin-left: 30px;
}


#birthday {
	width: 85%;
	margin-right: 40px;
}

.input-pair p {

	margin: 46px;
}

.textaboutyourself {
	margin-top: -30px;
}
.submittext {
	margin-top: -10%;
}
.sort2 {
	color: black;
	margin: 40px;
	width: 95%;
}

.submitphotos h2 {
	font-size: 40px;
	padding: 40px;
	color: black;
}

.photocontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3em;
	margin: 20%;
	
}
}
/********************************************************* LANDING PAGE ***************************************/
#landingPageCasting {
	min-height: 100vh;
	width: 100vw;
	background-image: url(../images/become_an_actor/become_an_actor_landing2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.landingTitles {
	margin-bottom: 60px;
}

/********************************************************* OUR STORY  ******************************************************************/
#casting {
	background-color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}

.casting-title {
	padding: 40px;
	color: black;
}



.submitphotos h2 {
	color: black;
}

.ourtalents {
	padding: 40px;
	color: black;
}

.ourStory-text h3,
.ourProjects-text h3,
.casting-text h3 {
	margin-bottom: 20px;
}
.ourStory-text p,
.casting-text p {
	margin-bottom: 50px;
}

#ourStory img,
#casting img {
	width: 100%;
}

.filtercontainer h3 {
	font-size: 16px;
}

.filtercontainer button {
	font-size: 16px;
}

#photos h2 {
	font-size: 40px;
	margin: 40px;

}

.sort2 {
	color: black;
	margin: 40px;
	width: 45%;
}

.pagenumber {
	font-family: "Integral", sans-serif;
	font-size: 18px;
	color: black;
	text-decoration: none;
	border: 3px solid;
	border-radius: 40px;
	padding: 7px 15px;
	border-color: black;
}

.number2 {
	font-size: 18px;
	padding-top: 5px;
}
.filtercontainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.ourtalentscontainer {
	display: flex;
	flex: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 3em;
	margin-bottom: 50px;
	margin-top: 50px;
}

.pages {
	display: flex;
	justify-content: space-evenly;
	align-content: flex-end;
}

.pages {
	/*   border: 2px solid black; */
}
