/*************************SECTIONS*************************/

#landingCastingProj {
  min-height: 100vh;
  background-image: url(/images/casting_projects/casting_projects_landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#projectCall {
  color: black;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
}

#projectList {
  color: black;
}
/**********************RESPONSIVE*******************/

/**************************DESKTOP*************/

@media (min-width: 1024px) {
  .landingText-mobile {
    display: none;
  }
  .landingText-desktop {
    display: block;
    margin-bottom: 60px;
  }
  .landingText-desktop h1 {
    font-size: 10vw;
    margin-bottom: 10px;
  }
  .landingText-desktop h3 {
    font-size: 4vw;
  }

  .projectText-mobile {
    display: none;
  }

  #projectCall {
    width: 700px;
    margin-left: 15px;
  }

  #projectList,
  h3 {
    font-size: 5vw;
  }

  .projectHeader-mobile {
    display: none;
  }

  #projectList,
  h2 {
    font-size: 1.5vw;
    margin-top: 25px;
    display: inline;
  }

  .projectHeaderButtons {
    display: flex;
    justify-content: space-between;
  }

  .projectHeaderButtons,
  a {
    text-decoration: none;
    color: black;
    display: flex;
    padding-left: 20px;
    padding-right: 25px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/*****************MOBILE*****************/

@media (max-width: 1024px) {
  .landingText-mobile {
    display: block;
  }
  .landingText-desktop {
    display: none;
    margin-bottom: 60px;
  }
  .landingText-desktop h1 {
    font-size: 15vw;
    margin-bottom: 50px;
  }
  .landingText-desktop h3 {
    font-size: 4vw;
  }

  #landingCastingProj {
    background-position: 75% 25%;
  }

  .projectText-desktop {
    display: none;
  }

  #projectCall {
    width: 350px;
    margin-left: 15px;
  }

  .projectHeader-desktop {
    display: none;
  }

  .projectHeader-mobile {
    font-size: 1vw;
  }

  #projectList,
  h2 {
    font-size: 3vw;
    margin-top: 25px;
  }

  .projectHeaderButtons {
    display: flex;
    justify-content: space-between;
  }

  .projectHeaderButtons,
  a {
    text-decoration: none;
    color: black;
    display: flex;
    padding-left: 20px;
    padding-right: 25px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}
