#gigiInfoLanding {
	min-height: 100vh;
	background-image: url(../images/gigi_info/gigi_info_landing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#gigiInfoTitle h1 {
	text-align: right;
	display: flex;
	align-self: flex-end;
}
