#gigiInfoLanding {
	min-height: 100vh;
	background-image: url(../images/gigi_info/gigi_info_landing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#gigiInfoLanding h1 {
	text-align: right;
	display: flex;
	align-self: flex-end;
}

#black-box {
	background-color: black;
	min-height: 100vh;
	max-width: 25%;
	display: flex;
	align-self: flex-end;
}
