.ourProjectsLanding {
	min-height: 100vh;
	background-image: url(../images/our_projects/our_projects_landing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.ourProjectsLanding h1 {
	min-height: 100vh;
	background-image: url(../images/our_projects/our_projects_landing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.ourProjectsPutain {
	display: grid;
	margin: 0 auto;
	align-self: center;
	justify-self: center;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	color: #000000;
	grid-template-areas:
		"ourProjectsPutainTop ourProjectsPutainTop ourProjectsPutainTop"
		"ourProjectsPutainLeft ourProjectsPutainImage ourProjectsPutainImage"
		"ourProjectsPutainCredits ourProjectsPutainCredits ourProjectsPutainCredits";
}

.ourProjectsPutainTop {
	grid-area: ourProjectsPutainTop;
	text-align: center;
	padding: 200px 200px;
}

.ourProjectsPutainLeft {
	grid-area: ourProjectsPutainLeft;
}

.ourProjectsPutainImage {
	grid-area: ourProjectsPutainImage;
}

.ourProjectsPutainCredits {
	grid-area: ourProjectsPutainCredits;
}

.ourProjectsPutainImage img {
	width: 80%;
	height: auto;
}

.ourProjectsPutainCredits p {
	width: 25%;
}

.ourProjectsSkiff {
	display: grid;
	margin: 0 auto;
	gap: 20px;
	align-self: center;
	justify-self: center;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	background-color: #000000;
	color: #fffb00;
	grid-template-areas:
		"ourProjectsSkiffImage ourProjectsSkiffImage ourProjectsSkiffRight"
		"ourProjectsSkiffCredits ourProjectsSkiffCredits ourProjectsSkiffCredits";
}

.ourProjectsSkiffRight {
	grid-area: ourProjectsSkiffRight;
}

.ourProjectsSkiffImage {
	grid-area: ourProjectsSkiffImage;
}

.ourProjectsSkiffCredits {
	grid-area: ourProjectsSkiffCredits;
}

.ourProjectsSkiffImage img {
	width: 80%;
	height: auto;
}

.ourProjectsAna {
	align-self: center;
	justify-self: center;
	display: grid;
	margin: 0 auto;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	background-color: #ffffff;
	color: #000000;
	grid-template-areas:
		"ourProjectsAnaImage ourProjectsAnaImage ourProjectsAnaRight"
		"ourProjectsAnaImage ourProjectsAnaImage ourProjectsAnaRight"
		"ourProjectsAnaImage ourProjectsAnaImage ourProjectsAnaCredits";
}

.ourProjectsAnaRight {
	grid-area: ourProjectsAnaRight;
}

.ourProjectsAnaImage {
	grid-area: ourProjectsAnaImage;
}

.ourProjectsAnaCredits {
	grid-area: ourProjectsAnaCredits;
}

.ourProjectsAnaImage img {
	width: 80%;
	height: auto;
}

@media (max-width: 768px) {
	.ourProjectsLanding h1 {
		font-size: 50px;
	}

	.ourProjectsPutain {
		font-size: 20px;
	}

	.ourProjectsPutain {
		align-self: center;
		justify-self: center;
		text-align: center;
		margin: 0 auto;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-template-areas:
			"ourProjectsPutainTop"
			"ourProjectsPutainLeft"
			"ourProjectsPutainImage"
			"ourProjectsPutainCredits";
	}

	.ourProjectsPutainTop {
		grid-area: ourProjectsPutainTop;
		padding: 0px 0px;
	}

	.ourProjectsPutainLeft {
		grid-area: ourProjectsPutainLeft;
	}

	.ourProjectsPutainImage {
		grid-area: ourProjectsPutainImage;
	}

	.ourProjectsPutainCredits {
		grid-area: ourProjectsPutainCredits;
	}

	.ourProjectsPutain p {
		font-size: 12px;
	}

	.ourProjectsSkiff {
		display: grid;
		margin: 0 auto;
		gap: 20px;
		align-self: center;
		justify-self: center;
		text-align: center;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
		background-color: #000000;
		color: #fffb00;
		grid-template-areas:
			"ourProjectsSkiffRight"
			"ourProjectsSkiffImage"
			"ourProjectsSkiffCredits";
	}

	.ourProjectsSkiffRight {
		grid-area: ourProjectsSkiffRight;
	}

	.ourProjectsSkiffImage {
		grid-area: ourProjectsSkiffImage;
	}

	.ourProjectsSkiffCredits {
		grid-area: ourProjectsSkiffCredits;
	}

	.ourProjectsSkiff p {
		font-size: 12px;
	}

	.ourProjectsSkiffCredits p {
		margin: 0 auto;
	}

	.ourProjectsAna {
		display: grid;
		margin: 0 auto;
		gap: 20px;
		align-self: center;
		justify-self: center;
		text-align: center;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
		background-color: #ffffff;
		color: #000000;
		grid-template-areas:
			"ourProjectsAnaRight"
			"ourProjectsAnaImage"
			"ourProjectsAnaCredits";
	}

	.ourProjectsAnaRight {
		grid-area: ourProjectsAnaRight;
	}

	.ourProjectsAnaImage {
		grid-area: ourProjectsAnaImage;
	}

	.ourProjectsAnaCredits {
		grid-area: ourProjectsAnaCredits;
	}

	.ourProjectsAnaImage img {
		width: 70%;
		height: auto;
	}

	.ourProjectsAnaRight p {
		font-size: 10px;
	}

	.ourProjectsAna p {
		font-size: 12px;
	}
}
