@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #ffffff;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 200px;
	font-style: normal;
	font-weight: bold;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 100px;
	font-style: normal;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 250;
}

.button-1 a {
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	font-style: normal;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	border: 3px solid black;
	border-radius: 5px;
	padding: 5px 25px;
}

.button-1 a:hover {
	color: #ffffff;
	background-color: #f15537;
	border: 3px solid #f15537;
}

.button-1 {
	margin-top: 100px;
}

.button-2 a {
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	font-style: normal;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	padding: 5px 5px;
}

.button-2 a:hover {
	margin-top: 100px;
	border-bottom: 5px solid black;
	transform: scale(1.2);
}

.button-2 {
	margin-top: 50px;
}
