@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");
@font-face {
  font-family: "Integral";
  src: url(/fonts/Fontspring-DEMO-integralcf-bold.otf);
}

body {
  background-color: #000000;
  color: #fffb00;
}

.header {
  font-family: "Integral", sans-serif;
  font-size: 200px;
}

h1,
h2,
h3 {
  font-family: "Integral", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.logo {
  color: #fffb00;
  text-decoration: none;
  font-family: "integral";
  font-size: 18px;
}

.primaryactive,
.primaryhover,
.secondaryactive,
.secondaryhover {
  font-family: "Integral", sans-serif;
  font-size: 18px;
  color: #fffb00;
  text-decoration: none;
  border: 3px solid;
  border-radius: 40px;
  padding: 10px 25px;
}

.primaryactive {
  border-color: #fffb00;
}

.primaryhover {
  background-color: #fffb00;
  color: black;
  border: 0;
}

.secondaryactive {
  background-color: #ffffff;
  color: #000000;
  border: 0;
}

.secondaryhover {
  background-color: #000000;
  color: #fffb00;
}

.tertiaryactive {
  background-color: white;
  color: black;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px 25px;
}

.tertiaryhover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px 25px;
}

.select {
  font-family: "Roboto", sans-serif;
}

.submitbutton {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px 25px;
}

footer {
  background-color: #000000;
}
